@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    font-family: "Montserrat", sans-serif;
}

.calculator {
    width: 324px;
    padding: 1.6em 1.2em 3.2em;
    background: radial-gradient(ellipse farthest-corner at 20% 65%, #5e6470, #161213);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7),
            0 0 20px 0 rgba(0, 0, 0, 0.5),
            0 0 25px 0 rgba(0, 0, 0, 0.3),
            10px 0 4px 10px rgba(0, 0, 0, 0.3),
            inset 0 0 3px 0 rgba(0, 0, 0, 0.7),
            inset 0 0 10px 0 rgba(0, 0, 0, 0.5),
            inset 0 -25px 5px 0 rgba(0, 0, 0, 0.2),
            inset 0 -5px 10px 0 rgba(255, 255, 255, 0.3);
    border-top-left-radius: 100% 30px;
    border-top-right-radius: 100% 30px;
    border-bottom-left-radius: 100% 60px;
    border-bottom-right-radius: 100% 60px;
    user-select: none;
}

.calculator-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container .title {
    color: rgb(230, 226, 226);
    font-size: 1.2rem;
}

.indicator-container .indicator {
    width: 108px;
    height: 32px;
    background-color: #3d1c15;
    border-radius: 5px;
    background-image: repeating-linear-gradient(to right, transparent, transparent 26px, rgba(255, 255, 255, 0.1) 26px,rgba(255, 255, 255, 0.1) 27px);
    box-shadow: 0 -3px 5px -3px rgba(255, 255, 255, 0.2),
                5px 0 3px -5px rgba(255, 255, 255, 0.8),
                0 2px 5px -2px rgba(0, 0, 0, 0.5),
                -3px 0 3px -1px rgba(0, 0, 0, 0.8),
                inset 0 -5px 3px -3px rgba(0, 0, 0, 0.5),
                inset 5px 0 5px -2px rgba(0, 0, 0, 0.8);
}

.sub-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Lobster", sans-serif;
}

.screen-container {
    margin: 1em 0;
}

.screen {
    height: 64px;
    width: 100%;
    display: block;
    text-align: right;
    border: none;
    font-size: 3rem;
    color: black;
    padding: .5em .3em;
    border-radius: 5px;
    text-overflow: ellipsis;
    font-family: "Lobster", sans-serif;
    background-image: linear-gradient(-155deg, #44443a 0%, #656f66 100%);
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, 0.3),
                5px 0 3px -5px rgba(255, 255, 255, 0.8),
                0 5px 5px -3px rgba(0, 0, 0, 0.5),
                -3px 0 3px -1px rgba(0, 0, 0, 0.8),
                inset 0 -5px 3px -3px rgba(0, 0, 0, 0.5),
                inset 5px 0 5px -2px rgba(0, 0, 0, 0.8);
}

.screen::placeholder {
    color: black;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 2.6em;
    gap: 1em;
    margin-top: 2em;
}

.keyboard button {
    border: none;
    outline: none;
    font-size: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(232, 232, 209);
    background: linear-gradient(25deg, #525a65, #3b424c); 
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, 0.2),
                inset -3px 2px 5px 0 rgba(0, 0, 0, 0.2),
                4px 1px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -3px 1px 0 rgba(0, 0, 0, 0.5),
                4px -3px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -1px 5px 0 rgba(0, 0, 0, 0.5);
}

.keyboard button:active {
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, 0.2),
            inset -3px 2px 5px 0 rgba(0, 0, 0, 0.2),
            3px 1px 1px 0 rgba(0, 0, 0, 0.5),
            -1px -1px 1px 0 rgba(0, 0, 0, 0.5),
            3px -1px 1px 0 rgba(0, 0, 9, 0.5),
            -1px -1px 5px 0 rgba(0, 0, 0, 0.5),
            4px 0 1px 0 rgba(255, 255, 255, 0.3);
            transform: translate(1px, -1px);
}

.keyboard button.num {
    font-size: 1.5rem;
}

.keyboard .clear {
    font-size: 1.5rem;
    color: rgb(233, 232, 209);
}

.keyboard .clear-all {
    background: #217636;
}

.keyboard .delete {
    background: #a80d2a;
}

.keyboard button.pecent {
    font-size: 1.5rem;
}

.keyboard button.minus {
    padding-bottom: 3px;
}

.keyboard button.point {
    padding-bottom: .6em;
    font-size: 2rem;
}